# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
**/GeneratedPluginRegistrant.*
**/Flutter/ephemeral/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# iOS/macOS
**/Pods/
**/*.xcworkspace/
**/*.xcuserstate
**/*.xcuserdata/
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
DerivedData/

# Android
**/local.properties
**/.gradle/
**/captures/
**/outputs/

# IDE
.vscode/
.idea/

# Logs
*.log

# Misc
pubspec.lock
.DS_Store

# Build outputs / Distribution
dist/
android/
ios/
